html, body {
    margin: 0;
    padding: 0;
    max-width: 375px;
}
/* header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    height: 67px;
}
#oldagram{
    width: 127px;
    /* height: 3px; */

}
#user-pic{
    width: 34px;
    height: 34px;
    border-radius: 100%;

}